<app-nav></app-nav>

<!-- banner -->
<div class="banner-image" id="banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-8 col-sm-8 banner">
				<h1>Hello, we are <br><span>Perfowl Studio</span></h1>
				<h4>Perfowl Studio是一个软件设计 & 开发工作室。我们会提供最佳的解决方案，帮助您将想法落地，让想法不再局限于想法。</h4>
			</div>
		</div>
	</div>
</div>

<!-- service -->
<app-service></app-service>

<!-- our work -->
<app-work></app-work>

<!-- team -->
<app-team></app-team>

<!-- footer -->
<app-footer></app-footer>