<app-nav></app-nav>

<!-- banner -->
<div class="banner-image" id="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-8 banner">
        <h1>Hello, we are <br><span>Perfowl Studio</span></h1>
        <h4>Perfowl Studio是一个软件设计 & 开发工作室。我们会提供最佳的解决方案，帮助您将想法落地，让想法不再局限于想法。</h4>
      </div>
    </div>
  </div>
</div>

<!-- service -->
<div class="service">
  <div class="container" id="service">
    <h3 class="d-flex justify-content-center underline-small">What We Do</h3>
    <div class="row">
      <!-- product design -->
      <div class="col-md-4 text-center">
        <img class="rounded mx-auto d-block mb-4 illustration" src="../../assets/images/service_product_design.png"
          alt="product design">
        <h4>产品设计</h4>
        <p class="p1">每一次的产品设计都视为改变世界的第一步</p>
        <p>需求分析，原型设计，Demo 开发，从内到外的产品设计流程，不在真空中幻想</p>
      </div>

      <!-- UI/UX -->
      <div class="col-md-4 text-center">
        <img class="rounded mx-auto d-block mb-4 illustration" src="../../assets/images/service_ui_ux.png"
          alt="product design">
        <h4>UI/UX</h4>
        <p class="p1">我们通过设计教会用户使用产品</p>
        <p>UI 界面设计，交互动画，Style Guideline 定义，App Icon 创作，品牌标识设计</p>
      </div>

      <!-- full stack development -->
      <div class="col-md-4 text-center">
        <img class="rounded mx-auto d-block mb-4 illustration" src="../../assets/images/service_development.png"
          alt="product design">
        <h4>全栈开发</h4>
        <p class="p1">从骨子里就散发着优雅的气息</p>
        <p>Web，iOS，Android一个不落，找到最佳的平台实现你的想法，不为了全栈而全栈</p>
      </div>
    </div>
  </div>
</div>


<!-- our work -->
<div class="work">
  <div class="container" id="work">
    <h3 class="d-flex justify-content-center underline-small">Our Work</h3>
    <div class="row">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div *ngFor="let project of projects; let i = index" class="carousel-item" [ngClass]="i == 0 ? 'active' : ''">
            <div class="container">
              <app-carousel [project]="project"></app-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- team -->
<div class="team">
  <div class="container" id="team">
    <h3 class="d-flex justify-content-center mb-5 underline-small h3">Our Team</h3>
    <div class="row">
      <div class="col-md-6">
        <img class="rounded mx-auto d-block mb-2 avatar" src="../../assets/images/wx_avatar.png" alt="w avatar">
        <h3 class="text-center mb-2 name">w</h3>
        <p class="text-center skills">产品设计/Android 开发/Web 开发</p>
      </div>
      <div class="col-md-6">
        <img class="rounded mx-auto d-block mb-2 avatar" src="../../assets/images/win_avatar.png"
          alt="winwinyang avatar">
        <h3 class="text-center mb-2 name">winwinyang</h3>
        <p class="text-center mb-2 skills">产品设计/视觉设计/IOS开发/Web 开发</p>
      </div>
    </div>
  </div>

</div>


<!-- footer -->
<div class="footer">
  <footer class="text-center" id="contact">
    <div class="container-fulid text-center">
      <h3 class="text-white">对我们有兴趣</h3>
      <a class="btn btn-primary" href="mailto:hello@perfowl.com" role="button">联系我们</a>
	  <span class="text-white d-block">Copryright © 2018 Perfowl studio, All rights reserved. 
		  <a class="beian-link" href="http://www.beian.miit.gov.cn/">鲁ICP备18016991号-1</a>
	  </span>
    </div>
  </footer>
</div>
