<nav class="navbar navbar-light bg-white">
    <a (click)=" returnHomepage()" class="navbar-brand" href="#">
        <mat-icon class="mr-1" aria-hidden="false" aria-label="return PERFOWL">reply</mat-icon>
        Perfowl Studio
    </a>

    <button id="openModalButton" class="navbar-toggler navbar-link privacy-policy-button" type="button"
        data-toggle="modal" data-target=".bd-example-modal-lg">
        Privacy Policy
    </button>
    <!-- <button data-toggle="modal" data-target=".bd-example-modal-lg"></button> -->
</nav>

<div class="banner">
    <div class="container">
        <div class="row no-gutter">
            <!-- app icon -->
            <div class="col-3 col-sm-2 pr-4">
                <img class="app-icon float-right shadow d-block" src="assets/images/timestamp_icon.png"
                    alt="timestamp icon">
            </div>

            <!-- app introduce -->
            <div class="col ">
                <h3>时间戳 | Timestamp</h3>
                <h6>一款没有压力的时间管理工具</h6>
                <!-- <img class="play-store mr-3" src="assets/images/Download_on_the_App_Store_Badge_CNSC_RGB_blk_092917.svg"
                    alt="app store"> -->
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.perfowl.timestamp">
                    <img class="play-store" src="assets/images/google_play_badge.svg" alt="google play store">
                </a>
            </div>
        </div>

    </div>
</div>

<div class="section slogn bg-white">
    <div class="container">
        <div class="row no-gutter">
            <div class="offset-3">
                <h2 class="font-weight-light">想要做好时间管理，首先要做的就是了解时间都去哪儿了</h2>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-md-3">
                <h3 class="mb-4">两种计时器</h3>
            </div>
            <div class="col-md">
                <p class="mb-4"><span class="text-
                    font-weight-bolder">番茄时钟</span>：推荐用于学习，工作，读书等某些需要独立专注或确定时间长度任务的使用场景。
                </p>
                <p><span class="text-
                    font-weight-bolder">普通计时器</span>：推荐用在除去以上场景，剩下的都可以使用普通计时器进行记录，例如休息，会议或一些时间无法确定的任务活动。
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section feature bg-white">
    <div class="container">
        <div class="row no-gutter text-center">
            <div class="col-md px-2 mb-3">
                <mat-icon inline="true" aria-hidden="false" aria-label="project customize">bookmark</mat-icon>
                <h5>项目自定义</h5>
                <p>可以自定义项目颜色，快速的分类活动，让您的工作日程、学习目标、生活日常都能一目了然</p>
            </div>
            <div class="col-md px-2">
                <mat-icon inline="true" aria-hidden="false" aria-label="project customize">storage</mat-icon>
                <h5>隐私安全</h5>
                <p>无需注册，打开即用，所有数据都保存在本地，没有数据通信</p>
            </div>
            <div class="col-md px-2">
                <mat-icon inline="true" aria-hidden="false" aria-label="project customize">bar_chart</mat-icon>
                <h5>项目统计</h5>
                <p>随时可查看近期项目花费情况，根据真实的记录提升自己</p>
            </div>
        </div>
    </div>
</div>

<div class="section opinion">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-sm-3">
                <h3 class="mb-4">一些想法</h3>
            </div>
            <div class="col-sm">
                <mat-icon aria-hidden="false" aria-label="quote">format_quote</mat-icon>
                <p class="mb-5">
                    市面上有不少时间管理的方法，说实话不少方法使用起来都或多或少给人带来一些负担。但我们也知道这是它们故意为之的，为的就是“迫使”用户来完成任务，改变自己。我在之前也是这些方法的用户，在一段时间内确实是解决了一些问题，但很难坚持下来。因为过程实在是太痛苦了，感觉总是和自己做斗争，好不容易战胜了，却也没力气再继续做下去。那么有没有不那么痛苦的办法，我们给出的答案——时间戳，一款不会给用户压力的时间管理工具。
                </p>
                <p class="mb-5">
                    我们思考了关于时间管理相关的种种问题之后，认为“自我欺骗”是非常我们的第一大敌。上学时每节课时是40分钟，上了一节课，我就认为我学习了40分钟，等到晚上写完作业躺在床上回想今天都干了些啥时，我们很容易得出一个我们"学习"了一天这样的结论。这模糊的答案其实就是自我欺骗，因为这个大约的一天中除了包括学习的时间，还包括了学习时走神的时间，课间的休息时间，吃饭的时间。如果真的记录一下这些时间，会发现花在学习上的时间往往比我们以为要少得多。
                </p>
                <p class="mb-5">
                    所以我们认为大部分追求效率的人来说，直接追寻某些大师的时间安排是错误的，更好的方式应该专注于自己。其实我们还有很多时间都没充分的利用，只是我们没有意识到而已。一天纯工作的时间有5个小时并不少，因为这5个小时的纯专注时间可能需要8个小时才能完成。我们希望能够通过时间戳帮助你们更好地认识自己，坦诚的面对自己，当你足够了解自己之后，我们相信对于你身上的解决方案自己会比其他人更清楚。
                </p>
                <p class="text-center">
                    —— <a class="btn btn-dark" href="mailto:hello@perfowl.com">联系我们</a> ——
                </p>
            </div>
        </div>
    </div>
</div>

<div class="footer containerbg-dark text-white bg-dark py-2 pl-2">
    <p><small>Copryright © 2018 Perfowl studio, All rights reserved. 鲁ICP备18016991号-1</small></p>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">时间戳 - Privacy Policy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-justify">
                    TIMW built the 时间戳 - 番茄工作法 | 时间记录器 | 管理自己需要从认识自己开始 app as a Free app. This SERVICE is provided by
                    TIMW
                    at no cost and is intended for use as is.
                </p>
                <p class="text-justify">This page is used to inform visitors regarding my policies with the collection,
                    use, and disclosure
                    of
                    Personal
                    Information if anyone decided to use my Service.
                </p>
                <p class="text-justify">If you choose to use my Service, then you agree to the collection and use of
                    information in relation
                    to
                    this policy. The
                    Personal Information that I collect is used for providing and improving the Service. I will not use
                    or
                    share your
                    information with anyone except as described in this Privacy Policy.
                </p>
                <p class="text-justify">The terms used in this Privacy Policy have the same meanings as in our Terms and
                    Conditions, which is
                    accessible at 时间戳
                    - 番茄工作法 | 时间记录器 | 管理自己需要从认识自己开始 unless otherwise defined in this Privacy Policy.
                </p>
                <h4>Information Collection and Use
                </h4>
                <p class="text-justify">For a better experience, while using our Service, I may require you to provide
                    us with certain
                    personally
                    identifiable
                    information. The information that I request will be retained on your device and is not collected by
                    me
                    in any way.
                </p>
                <p class="text-justify">The app does use third party services that may collect information used to
                    identify you.
                </p>
                <p class="text-justify">Link to privacy policy of third party service providers used by the app
                </p>
                <ul>
                    <li>
                        <a href="https://www.google.com/policies/privacy/">
                            Google Play Services
                        </a>
                    </li>
                    <li>
                        <a href="https://firebase.google.com/policies/analytics">
                            Firebase Analytics
                        </a>
                    </li>
                    <li>
                        <a href="https://fabric.io/privacy">
                            Fabric
                        </a>
                    </li>
                    <li>
                        <a href="http://try.crashlytics.com/terms/privacy-policy.pdf">
                            Crashlytics
                        </a>
                    </li>
                </ul>
                <h4>
                    Log Data
                </h4>
                <p class="text-justify">I want to inform you that whenever you use my Service, in a case of an error in
                    the app I collect
                    data
                    and information
                    (through third party products) on your phone called Log Data. This Log Data may include information
                    such
                    as your device
                    Internet Protocol (“IP”) address, device name, operating system version, the configuration of the
                    app
                    when utilizing my
                    Service, the time and date of your use of the Service, and other statistics.
                </p>
                <h4>Cookies</h4>
                <p class="text-justify">Cookies are files with a small amount of data that are commonly used as
                    anonymous unique identifiers.
                    These are sent to
                    your browser from the websites that you visit and are stored on your device's internal memory.
                </p>
                <p class="text-justify">This Service does not use these “cookies” explicitly. However, the app may use
                    third party code and
                    libraries that use
                    “cookies” to collect information and improve their services. You have the option to either accept or
                    refuse these
                    cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies,
                    you
                    may not be able to
                    use some portions of this Service.
                </p>
                <h4>Service Providers
                </h4>
                <p class="text-justify">I may employ third-party companies and individuals due to the following reasons:
                </p>
                <ul>
                    <li>To facilitate our Service;
                    </li>
                    <li>To provide the Service on our behalf;
                    </li>
                    <li>To perform Service-related services; or
                    </li>
                    <li>To assist us in analyzing how our Service is used.
                    </li>
                </ul>
                <p class="text-justify">I want to inform users of this Service that these third parties have access to
                    your Personal
                    Information.
                    The reason is
                    to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or
                    use
                    the information
                    for any other purpose.
                </p>
                <h4>Security</h4>
                <p class="text-justify">I value your trust in providing us your Personal Information, thus we are
                    striving to use
                    commercially
                    acceptable means
                    of protecting it. But remember that no method of transmission over the internet, or method of
                    electronic
                    storage is 100%
                    secure and reliable, and I cannot guarantee its absolute security.
                </p>
                <h4>Links to Other Sites
                </h4>
                <p class="text-justify">This Service may contain links to other sites. If you click on a third-party
                    link, you will be
                    directed
                    to that site.
                    Note that these external sites are not operated by me. Therefore, I strongly advise you to review
                    the
                    Privacy Policy of
                    these websites. I have no control over and assume no responsibility for the content, privacy
                    policies,
                    or practices of
                    any third-party sites or services.
                </p>
                <h4>Children’s Privacy</h4>
                <p class="text-justify">These Services do not address anyone under the age of 13. I do not knowingly
                    collect personally
                    identifiable information
                    from children under 13. In the case I discover that a child under 13 has provided me with personal
                    information, I
                    immediately delete this from our servers. If you are a parent or guardian and you are aware that
                    your
                    child has provided
                    us with personal information, please contact me so that I will be able to do necessary actions.
                </p>
                <h4>Changes to This Privacy Policy
                </h4>
                <p class="text-justify">I may update our Privacy Policy from time to time. Thus, you are advised to
                    review this page
                    periodically
                    for any
                    changes. I will notify you of any changes by posting the new Privacy Policy on this page. These
                    changes
                    are effective
                    immediately after they are posted on this page.
                </p>
                <h4>Contact Us
                </h4>
                <p class="text-justify">If you have any questions or suggestions about my Privacy Policy, do not
                    hesitate to contact me.
                </p>
                <p class="text-justify">By email: <b>tim.xing.wu@gmail.com</b></p>
            </div>
        </div>
    </div>
</div>