<div class="container mb-5">
	<h3 class="text-center mb-5">What we do</h3>
	<div class="row">
		<!-- product design -->
		<div class="col-md-4 text-center">
			<img class="rounded mx-auto d-block mb-4" src="https://via.placeholder.com/150" alt="product design">
			<h4>产品设计</h4>
			<p class="p1">每一次的产品设计都视为改变世界的第一步</p>
			<p>需求分析，原型设计，Demo 开发，从内到外的产品设计流程，不在真空中幻想</p>
		</div>

		<!-- UI/UX -->
		<div class="col-md-4 text-center">
			<img class="rounded mx-auto d-block mb-4" src="https://via.placeholder.com/150" alt="product design">
			<h4>UI/UX</h4>
			<p class="p1">我们通过设计教会用户使用产品</p>
			<p>UI 界面设计，交互动画，Style Guideline 定义，App Icon 创作，品牌标识设计</p>
		</div>

		<!-- full stack development -->
		<div class="col-md-4 text-center">
			<img class="rounded mx-auto d-block mb-4" src="https://via.placeholder.com/150" alt="product design">
			<h4>全栈开发</h4>
			<p class="p1">从骨子里就散发着优雅的气息</p>
			<p>Web，iOS，Android一个不落，找到最佳的平台实现你的想法，不为了全栈而全栈</p>
		</div>
	</div>
</div>
