<div class="container" id="work">
	<h3 class="d-flex justify-content-center underline-small">Our Work</h3>
	<div class="row youli">
		<div class="col-lg-6 img-youli">
			<img class="mx-auto d-block" src="../../assets/images/work_youli_2.png" alt="youli screen">
		</div>
		<div class="col-lg-6 into">
			<div class="row name d-block mx-auto">
				<img class="rounded youli-logo" src="../../assets/images/youli_icon.png" alt="youli logo">
				<h2>游历</h2>
			</div>
			<p class="col-10 col-md-8 text-center mx-auto">「游历」是一款专注于游戏本身，帮你找到最适合你的 Switch 游戏的 app。</p>
			<a class="btn btn-primary d-block mx-auto" href="https://play.google.com/store/apps/details?id=com.perfowl.youli&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">Google Play</a>
		</div>
	</div>
</div>
