<div class="container" id="work">
	<h3 class="d-flex justify-content-center underline-small">Our Work</h3>
	<div class="row youli">
		<div class="col-lg-6 img-youli">
			<img class="mx-auto d-block" src="/assets/images/work_timestamp_into_2.png" alt="timestamp screen">
		</div>
		<div class="col-lg-6 into">
			<div class="row name d-block mx-auto">
				<img class="app-icon shadow mr-3" src="assets/images/timestamp_icon.png">
				<h2>时间戳</h2>
			</div>
			<p class="col-10 col-md-8 text-center mx-auto">一款追求小而美的时间管理工具，内置番茄时钟与普通计时器，可在不同的使用场景下使用合适的方式记录时间
			</p>
			<button class="btn btn-primary d-block mx-auto" (click)="redirectToTimestamp()">应用介绍</button>
		</div>
	</div>
</div>