.side-nav 
    padding-top: 32px
    padding-left: 24px

.main-content
  padding-top: 56px

.container
  margin-top: 72px
  
  a:hover 
    text-decoration: none 
    -webkit-transform: scale(1.3)
    -ms-transform: scale(1.3)
    transform: scale(1.3)


h4
  margin-bottom: 16px 



.nav-link
  cursor: pointer

.footer
  // background-color: #eeeeee  
  padding-top: 8px
  padding-bottom: 8px 

.card
  margin-bottom: 24px

.card:hover 
  -webkit-transform: scale(1.1)
  -ms-transform: scale(1.1)
  transform: scale(1.1)
  transition-duration: 280ms


.example-container 
  width: 100%
  height: 2000px
  border: 1px solid rgba(0, 0, 0, 0.5)

.example-sidenav-content 
  display: flex
  height: 100%
  align-items: center
  justify-content: center

.example-sidenav 
  padding: 20px