.music-background-color
  background: #444C53 url('../../../../assets/images/dark_m.png') right no-repeat
  background-size: contain

.video-background-color
  background: #3C4C9A url('../../../../assets/images/dark_v.png') right no-repeat
  background-size: contain

.tutorial-background-color
  background: #63A69C url('../../../../assets/images/dark_t.png') right no-repeat
  background-size: contain

.software-background-color
  background: #DD9E88 url('../../../../assets/images/dark_s.png') right no-repeat
  background-size: contain
  
a:hover 
  text-decoration: none 
    
.card
  margin-bottom: 24px
  transform: scale(1)
  -webkit-transform: scale(1)
  -ms-transform: scale(1)
  transition-duration: 280ms
  border: none
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12)

.card:hover 
  -webkit-transform: scale(1.1)
  -ms-transform: scale(1.1)
  transform: scale(1.1)
  transition-duration: 280ms
  box-shadow: 4px 8px 24px rgba(0, 0, 0, 0.36)


.crop-text-2
  -webkit-line-clamp: 2
  overflow : hidden
  text-overflow: ellipsis
  display: -webkit-box
  -webkit-box-orient: vertical