<app-nav></app-nav>

<!-- banner -->
<app-banner></app-banner>

<!-- service -->
<app-service></app-service>

<!-- our work -->
<app-work></app-work>

<!-- team -->
<div class="section team">
    <h3>Our Team</h3>
    <div class="row members">
        <div class="col">
            <h3>w</h3>
            <p>产品设计/Android 开发/Web 开发</p>
        </div>
        <div class="col">
            <h3>winwinyang</h3>
            <p>产品设计/视觉设计/IOS开发/Web 开发</p>
        </div>
    </div>
</div>

<!-- contact -->
<div class="footer contact">
    <h3>对我们有兴趣</h3>
    <button mat-raised-button>联系我们</button>
    <p>Copryright © 2018 Perfowl studio, All rights reserved. 鲁ICP备18016991号-1</p>
</div>
