<app-nav></app-nav>

<!-- banner -->
<div class="banner section">
    <h2>hello, we are <br><span>Perfowl Studio</span></h2>
    <h3>Perfowl Studio是一个软件设计 & 开发工作室。我们会提供最佳的解决方案，帮助您将想法落地，让想法不再局限于想法</h3>
</div>

<!-- service -->
<div class="service section">
    <h3>What we do</h3>

    <div class="row">
        <!-- product design -->
        <div class="col card">
            <h4>产品设计</h4>
            <p>每一次的产品设计都视为改变世界的第一步</p>
            <p>需求分析，原型设计，Demo 开发，从内到外的产品设计流程，不在真空中幻想</p>
        </div>

        <!-- UI/UX -->
        <div class="col card">
            <h4>UI/UX</h4>
            <p>我们通过设计教会用户使用产品</p>
            <p>UI 界面设计，交互动画，Style Guideline 定义，App Icon 创作，品牌标识设计</p>
        </div>

        <!-- full stack development -->
        <div class="col card">
            <h4>全栈开发</h4>
            <p>从骨子里就散发着优雅的气息</p>
            <p>Web，iOS，Android一个不落，找到最佳的平台实现你的想法，不为了全栈而全栈</p>
        </div>

    </div>
</div>

<!-- our work -->
<div class="section work">
    <h3>Our Work</h3>
    <div class="row">
        <div class="col"></div>
        <div class="col youli">
            <h2>游历</h2>
            <p>「游历」是一款专注于游戏本身，帮你找到最适合你的 Switch 游戏的 app。</p>
            <!-- <p>通过「游历」，你可以了解即将发售和已发售的 Switch 游戏，让你全面掌握 Nintendo Switch 的游戏资料，不错过任何一款值得玩的游戏。</p> -->
            <button mat-raised-button>官方网站</button>
        </div>
    </div>
</div>

<!-- team -->
<div class="section team">
    <h3>Our Team</h3>
    <div class="row members">
        <div class="col">
            <h3>w</h3>
            <p>产品设计/Android 开发/Web 开发</p>
        </div>
        <div class="col">
            <h3>winwinyang</h3>
            <p>产品设计/视觉设计/IOS开发/Web 开发</p>
        </div>
    </div>
</div>

<!-- contact -->
<div class="footer contact">
    <h3>对我们有兴趣</h3>
    <button mat-raised-button>联系我们</button>
    <p>Copryright © 2018 Perfowl studio, All rights reserved. 鲁ICP备18016991号-1</p>
</div>
