<app-nav></app-nav>

<!-- banner -->
<app-banner></app-banner>

<!-- service -->
<app-service></app-service>

<!-- our work -->
<div class="section work">
    <h3>Our Work</h3>
    <div class="row">
        <div class="col"></div>
        <div class="col youli">
            <h2>游历</h2>
            <p>「游历」是一款专注于游戏本身，帮你找到最适合你的 Switch 游戏的 app。</p>
            <!-- <p>通过「游历」，你可以了解即将发售和已发售的 Switch 游戏，让你全面掌握 Nintendo Switch 的游戏资料，不错过任何一款值得玩的游戏。</p> -->
            <button mat-raised-button>官方网站</button>
        </div>
    </div>
</div>

<!-- team -->
<div class="section team">
    <h3>Our Team</h3>
    <div class="row members">
        <div class="col">
            <h3>w</h3>
            <p>产品设计/Android 开发/Web 开发</p>
        </div>
        <div class="col">
            <h3>winwinyang</h3>
            <p>产品设计/视觉设计/IOS开发/Web 开发</p>
        </div>
    </div>
</div>

<!-- contact -->
<div class="footer contact">
    <h3>对我们有兴趣</h3>
    <button mat-raised-button>联系我们</button>
    <p>Copryright © 2018 Perfowl studio, All rights reserved. 鲁ICP备18016991号-1</p>
</div>
