.side-nav 
    padding-top: 32px
    padding-left: 24px

.main-content
  padding-top: 56px

.container
  margin-top: 72px
  
h4
  margin-bottom: 16px 

.nav-link
  cursor: pointer

.footer
  padding-top: 8px
  padding-bottom: 8px 

.example-container 
  width: 100%
  height: 2000px
  border: 1px solid rgba(0, 0, 0, 0.5)

.example-sidenav-content 
  display: flex
  height: 100%
  align-items: center
  justify-content: center

.example-sidenav 
  padding: 20px

.title
  mat-icon 
    vertical-align: middle
    height: 32px
    margin-right: 4px
    color: #ff6768