<nav class="navbar fixed-top navbar-expand-lg navbar-dark background-dark">
  <a (click)="returnHomepage()" class="navbar-brand" href="#">
        <mat-icon class="mr-1 ml-1" aria-hidden="false" aria-label="return PERFOWL">reply</mat-icon>
		Perfowl Studio
    <img src="assets/images/vlog_tools_logo.png" width="80" height="80" alt="">
    {{ title }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [ngx-scroll-to]="music">音乐</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngx-scroll-to]="video">视频</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngx-scroll-to]="tutorial">教程</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngx-scroll-to]="editor">剪辑软件</a>
      </li>
    </ul>
  </div>
</nav>
<div class="vlog-body">
  <div class="container">
    <div class="title">
      <div class="title-background music-background-color text-white">
        <mat-icon aria-hidden="false" aria-label="music">music_note</mat-icon>
        <h4 class="d-inline-block" #music>音乐<span class="h5 font-weight-light"> {{ musicSites.length }}</span></h4>
        </div>
    </div>

    <div class="row">
      <div *ngFor="let site of musicSites" class="col-lg-4 col-md-6">
        <app-card [site]="site"></app-card>
      </div>
    </div>

    <div class="title">
    <div class="title-background video-background-color text-white ">
      <mat-icon aria-hidden="false" aria-label="video">videocam</mat-icon>
      <h4 class="d-inline-block" #video>视频 <span class="h5 font-weight-light">{{ videoSites.length }}</span></h4>
    </div>
  </div>
    <div class="row">
      <div *ngFor="let site of videoSites" class="col-lg-4 col-md-6">
        <app-card [site]="site"></app-card>
      </div>
    </div>

    <div class="title">
      <div class="title-background tutorial-background-color text-white">
      <mat-icon aria-hidden="false" aria-label="video">menu_book</mat-icon>
      <h4 class="d-inline-block" #tutorial>教程 <span class="h5 font-weight-light">{{ tutorialSites.length }}</span></h4>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let site of tutorialSites" class="col-lg-4 col-md-6">
        <app-card [site]="site"></app-card>
      </div>
    </div>

    <div class="title">
      <div class="title-background software-background-color text-white">
      <mat-icon aria-hidden="false" aria-label="software">video_library</mat-icon>
      <h4 #editor class="d-inline-block">剪辑软件<span class="h5 font-weight-light"> {{ softwareSites.length }}</span></h4>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let site of softwareSites" class="col-lg-4 col-md-6">
        <app-card [site]="site"></app-card>
      </div>
    </div>
  </div>
  <div class="text-center footer">
    <small class="text-white">Copryright © 2018 Perfowl studio, All rights reserved. 鲁ICP备18016991号-1</small>
  </div>
</div>
