/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC|Open+Sans');

body
    font-family: 'Noto Sans SC', Roboto, 'STHeiti', "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important
    background-color: #f8f8fa !important
    position: relative

.underline-small
    display: inline-block
    position: relative

.underline-small::before
    content: ''
    height: 4px
    width: 32px
    background: #F05D7C
    position: absolute
    bottom: -12px
