/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"

body
    font-family: 'source-han-sans-simplified-c', Roboto, 'STHeiti', "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important
    background-color: #f8f8fa !important
    font-weight: 400
    font-style: normal
    position: relative

.underline-small
    display: inline-block
    position: relative

.underline-small::before
    content: ''
    height: 4px
    width: 32px
    background: #F05D7C
    position: absolute
    bottom: -12px
