.container
    padding-top: 32px
    padding-bottom: 32px
    background-color: #ffffff
    border-radius: 8px
    margin-bottom: 64px

.avatar
    max-width: 100px

h3
  margin-top: 32px
  margin-bottom: 72px

.h3::after
    content: 'TEAM'
    position: absolute
    top: -32px
    font-weight: 900
    font-size: 5rem
    letter-spacing: 4.58px
    opacity: .02

.name
    color: #4B527C

.skills
  color: #8C93BC
